<h2 mat-dialog-title>{{ 'Import devices' | translate }}</h2>


<div mat-dialog-content>

    <mat-form-field>

        <mat-label>{{ 'Select a customer' | translate }}</mat-label>

        <select matNativeControl [(ngModel)]="selectedCustomerIndex">
            <option *ngFor="let customer of customers; let i = index" [value]="i">{{customer.name}}</option>
        </select>

    </mat-form-field>


        <mat-label>{{ 'Select an Excel file' | translate }}</mat-label>
        <div style="margin-top: 20px; margin-bottom: 20px;">
            <input type="file" name="excel" (change)="onFileChange($event)" />
        </div>


</div>

<div mat-dialog-actions>

    <button [disabled]="customers.length===0 || excelFile.length===0" class="mat-raised-button mat-primary" (click)="save()">
      {{ 'OK' | translate }}
    </button>

    <button class="mat-raised-button" (click)="close()">
      {{ 'Cancel' | translate }}
    </button>

</div>
